# Angular build outputs
dist/
out-tsc/
.angular/

# Node modules
node_modules/

# Environment files
*.env
*.local
.env.*

# Logs & cache
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.cache/

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
